---
---

@import "bootstrap-4.0.0/scss/functions";
@import "bootstrap-4.0.0/scss/variables";
@import "bootstrap-4.0.0/scss/mixins";

body {
    padding-top: 3.5rem;
}

.remove-a-style {
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.large-brand {
    @extend .remove-a-style;

    img {
        height: 8rem;
        margin: 0 15px 0 15px;
    }
}

.round-selfie {
    height: 3rem;
}
@include media-breakpoint-up(lg) {
    .round-selfie {
	height: 5rem;
    }
}

.social-icon {
    height: 1rem;
    margin-right: 0.25rem;
}


