---
---

@import "bootstrap-4.0.0/scss/functions";
@import "bootstrap-4.0.0/scss/variables";
@import "bootstrap-4.0.0/scss/mixins";

body {
    padding-top: 3.5rem;
}

.remove-a-style {
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.large-brand {
    @extend .remove-a-style;

    img {
        height: 8rem;
        margin: 0 15px 0 15px;
    }
}

.round-selfie {
    height: 3rem;
}
@include media-breakpoint-up(lg) {
    .round-selfie {
	    height: 5rem;
    }
}

.social-icon {
    height: 1rem;
    margin-right: 0.25rem;
}

//======================Animations=======================================

@keyframes right-sps {
    0% {
        margin-left: 2rem;
    }
    100% {
        margin-left: 0rem;
    }
}

.sps--abv {
    -webkit-animation: fadeOutDown;
    animation: fadeOutDown;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.sps--blw {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}

#navbarNav {
    transition: all 0.5s ease;
}
