---
layout: default
title: 我的Blog
---
<h2>{{ page.title }}</h2>
<p>最新文章</p>
<ul>
　　{% for post in site.posts %} 
　　　　<li>
			{{ post.date | date_to_string }} 
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
			{{ post.categories }}
		</li>
　　{% endfor %}
</ul>
<ul>
　　{% for category1 in site.categories %} 
　　　　<li>
			{{ category1 }}
			<ul>
				{% for post2 in category %}
				<li>
				{{ post2.date | date_to_string }} 
				<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</li>
　　{% endfor %}
</ul>