<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- JQuery -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
        body {
            position: relative;
        }
    </style>

    <!--百度站长工具自动推送代码-->
    <script>
        // (function () {
        //     var bp = document.createElement('script');
        //     var curProtocol = window.location.protocol.split(':')[0];
        //     if (curProtocol === 'https') {
        //         bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        //     }
        //     else {
        //         bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        //     }
        //     var s = document.getElementsByTagName("script")[0];
        //     s.parentNode.insertBefore(bp, s);
        // })();
    </script>

    <meta name="keywords" content="刘持冰,作曲,作品,中央音乐学院附中,{{ page.title }},{{ page.categories }}">

    <title>{{ page.title }}{% if page.title %} - {% endif %}{{ site.name }}</title>

</head>
