<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
</head>

<body>

	{% include header.html %}

	<div class="page-header container" style="margin-top: 15px; margin-bottom: 0; vertical-align: center;">
		<a href="/" style="color: #333; display: flex; align-items: center;">
			<img src="/icon.png" align="left" style="height: 80px; margin: 0 15px 0 15px;" />
			<h1>{{ site.name }}</h1>
		</a>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-9">
				<div class="panel panel-default" style="padding: 15px;">
					{{ content }}
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="panel panel-default" style="padding: 15px;">
					<h3>关于我</h3>
					<p style="text-align: center">
						<img src="{{ site.baseurl }}/images/me_small.JPG" height="100px" width="150px" alt="我的照片" />
					</p>
					<p style="text-align: center">刘持冰
						<br />中央音乐学院附中作曲专业学生
						<br />
						<a href="{{ site.baseurl }}/about.html">查看详细</a>
					</p>
					<p style="text-align: center">访问我的：
						<br />
						<a href="http://weibo.com/1721844490/profile">
							<img src="{{ site.baseurl }}/images/WB_logo.png" />
						</a>
						<br />
						<a href="http://i.youku.com/i/UMTc0MzQ1MDEy">
							<img src="{{ site.baseurl }}/images/yk-logo-0412.png" />
						</a>
					</p>

					<p>Hosted by
						<a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	{% include scripts.html %}

</body>

</html>